:root {
    --Primario: #e67e22 ;
    --PrimarioOScuro: #d35400 ;
    --Secundario: #f4d03f ;
    --SecundarioOscuro: #d4ac0d  ;
    --Blanco: #FFF;
    --Negro: #000;
    --FuentePrincipal: "Staatliches", cursive;
}

html {
    box-sizing: border-box;
    font-size: 65.5%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /**Globales*/

  body {
    background-color: var(--Primario);
    font-size: 1.6rem;
    line-height: 1.5;
  }

  p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Blanco);
  }

  h2 {
    color: var(--Secundario);
    font-size: 24px;
    margin-bottom: 10px;
}

  a{
     text-decoration: none;

  }

  img {
   width: 100%;
  }
  .contenedor {
    max-width: 120rem;/**1200px**/
    margin: 0 auto;
  }

  h1,h2,h3 {

    text-align: center;
    color: var(--Secundario);
    font-family: var(--FuentePrincipal);
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.4rem;
  }

/** header**/
.header {
    display: flex;
    justify-content: center;
}

.header__logo{

    margin: 3rem 0;
}

.footer{

background-color: var(--PrimarioOScuro);
padding: 1rem 0;
margin-top: 2rem;
}

.footer__texto{

font-family: var(--FuentePrincipal);
text-align: center;
font-size: 2.2rem;
}

.navegacion {
    background-color: var(--PrimarioOScuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.navegacion__enlace{
 font-family: var(--FuentePrincipal);
 color: var(--Blanco);
 font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--Secundario);

}

/** Grid**/
.grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);

    }
}

/**Productos**/

.producto {
background-color: var(--PrimarioOScuro);
padding: 1rem;
}


.producto__nombre{
font-size: 3rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--Secundario);
}

.producto__nombre, .producto__precio {
font-family: var(--FuentePrincipal);
margin: 1rem;
text-align: center;
line-height: 1.2;

}

.grafico {
min-height: 30rem;
grid-column: 1 / 3;
background-repeat: no-repeat;
background-size: cover;
}


@media (min-width: 768px) {
  .grafico--node {

    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }  
}

/**Nosotros**/

.nosotros {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
  .nosotros{
    
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    
    }
}

.nosotros__imagen {
  grid-row: 1 / 2;
 
  }
  .nosotros p {
    font-size: 2.5rem; 
    color: var(--Blanco); 
    font-family: 'Poppins', sans-serif;
    text-align: justify; 
    padding: 0 10px; /* espacio alrededor del texto para evitar que toque los bordes */

}


@media (min-width: 768px) {
  .nosotros__imagen {
    grid-column:  2 / 3;
    width: 100%;
    }
  }    
  
/**Bloques**/

  .bloques{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2 rem;

  }

@media (min-width: 768px) {
  .bloques{
    grid-template-columns: repeat(4,1fr);

  }
}

.bloque {
  text-align: center;
}

.bloque__titulo{
  margin: 0;
}

/** Contacto**/

.contacto {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  background-color:var(--PrimarioOScuro);
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

.contacto h2 {
  margin-bottom: 20px;
  font-size: rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  text-align: left;
}

input, textarea {
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px;
  font-size: 1.2rem;
  color: #e76f51;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #f1faee;
}

.producto__boton {
  background-color: var(--Secundario);
  color: var(--PrimarioOScuro);
  font-family: var(--FuentePrincipal);
  font-size: 2rem;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 1rem auto;
  display: block;
}

.producto__boton:hover {
  background-color: var(--SecundarioOscuro);
  transform: scale(1.05);
}

.producto__boton:active {
  transform: scale(0.95);
}

.producto:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}



/*contenedor principal del carrito */
.carrito {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  width: 250px; 
  position: fixed; /* Para que se quede fijo en la pantalla */
  right: 20px; /* Lo mueve a la derecha */
  top: 20px; /* Un poco de margen desde la parte superior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Estilo para el título del carrito */
.carrito h2 {
  text-align: left; 
  color: #333;
  font-size: 20px; 
  margin-bottom: 15px;
}

.carrito h2 i {
  margin-right: 8px; /* Espaciado entre el ícono y el texto */
  color: var(--PrimarioOScuro); 
}


.lista-carrito {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
}

.lista-carrito li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.total-carrito {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: 15px;
}

.btn-vaciar {
  width: 100%;
  padding: 8px;
  background-color: var(--PrimarioOScuro);
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-vaciar:hover {
  background-color: #FF5733;
}

.lista-carrito li span {
  font-size: 12px;
  color: #888;
}
.btn-finalizar {
  width: 100%;
  padding: 10px;
  background-color: #28a745; 
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Separación entre los botones */
}

.btn-finalizar:hover {
  background-color: #218838;
}

/* Estilo general para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite el scroll si el contenido es demasiado grande */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* Centrado vertical */
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out; /* Animación de entrada */
}

/* Botón de cerrar */
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
}

/* Botón de cerrar modal */
.btn-cerrar {
  background-color: var(--PrimarioOScuro);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}


.btn-cerrar:hover {
  background-color: var(--Primario);
}

/* Títulos y texto dentro del modal */
.modal-content h2 {
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.modal-content p {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin: 20px 0;
}

/* Animación para el modal */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}


/* Contenedor principal de productos con Flexbox */
.productos-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

/* Estilos para la card */
.card {
  background-color: var(--PrimarioOScuro);
  padding: 1rem;
  width: calc(33.33% - 2rem); /* 3 por fila en pantallas grandes */
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card a{
  display: block; 
  color: inherit; 
  text-decoration: none; 
}

.card__imagen {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  display: block; 
}

.card__informacion {
  padding: 1rem;
}

.card__nombre {
  font-size: 2.4rem;
  font-family: var(--FuentePrincipal);
  color: var(--Blanco);
  margin-bottom: 0.5rem;
}

.card__precio {
  font-size: 2rem;
  color: var(--Secundario);
  font-family: var(--FuentePrincipal);
}
.card__boton{
  width: 100%; /* El botón ocupa todo el ancho de la card */
  margin-top: 1rem;
}

/* Media queries para responsividad */
@media (max-width: 992px) { /* Ajuste para pantallas medianas */
  .card {
      width: calc(50% - 2rem); /* 2 por fila */
  }
}

@media (max-width: 768px) { /* Ajuste para tablets */
  .card {
      width: calc(50% - 2rem); /* 2 por fila */
  }
}

@media (max-width: 576px) { /* Ajuste para móviles */
  .card {
      width: 100%; /* 1 por fila */
  }
}

/* Oculta el grid anterior */
.grid {
  display: none;
}
.producto{
  display: none;
}




.beneficios {
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--PrimarioOScuro); 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 2px solid #f39c12; 
}

.beneficios h2 {
  font-size: 2rem; 
  margin-bottom: 1rem;
  text-align: center;
  color: var(--Secundario); 
  font-family: 'Arial', sans-serif;
  text-transform: uppercase; 
  letter-spacing: 0.05rem; 
}

.beneficios__lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.8rem; 
  color: var(--Secundario); 
}

.beneficios__lista li {
  margin-bottom: 1.5rem; /* Mayor espacio entre elementos */
  position: relative;
  padding-left: 2rem; /* Espacio para el ícono */
  font-weight: bold; /* Letras en negrita */
}

.beneficios__lista li::before {
    content: "\f058"; /* Unicode del icono de check en Font Awesome */
    font-family: 'Font Awesome 6 Free'; /* Fuente de Font Awesome */
    font-weight: 900; /* Negrita para que se vea bien */
    position: absolute;
    left: 0;
    color: #2ecc71; /* Verde moderno */
    font-size: 1.8rem; /* Tamaño del ícono */
}

/* Sección de Reseñas */
.reseñas {
  background-color: var(--PrimarioOScuro); 
  padding: 4rem 2rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.reseñas h2 {
  font-family: var(--FuentePrincipal);
  color: var(--Secundario);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.reseñas__lista {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.reseña {
  background-color: var(--Blanco);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

.reseña__autor-contenedor {
  display: flex;
  align-items: center; /* Para que la imagen y el texto estén alineados */
  gap: 1.5rem; /* Espaciado entre la imagen y el texto */
}

.reseña__imagen {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover; /* Para que la imagen se ajuste bien dentro del círculo sin distorsionarse */
}

.reseña__autor {
  font-size: 2rem;
  color: var(--Secundario);
  font-weight: bold;
  margin-bottom: 1rem;
}

.reseña__texto {
  font-size: 1.8rem;
  color: var(--Negro);
  line-height: 1.5;
  text-align: center;
}

.reseña__fecha {
  font-size: 1.4rem;
  color: #888;
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .reseñas__lista {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1200px) {
  .reseñas__lista {
    grid-template-columns: repeat(3, 1fr); 
  }
}

.producto {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  text-align: center;
  max-width: 800px;
}

.producto__detalles {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  gap: 2rem; 
  margin-top: 2rem;
}

.producto__imagen {
  width: 40%; 
  height: auto;
  border-radius: 10px;
  border: 10px solid var(--PrimarioOScuro);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto__info {
  max-width: 600px;
  text-align: center;
}

.producto__descripcion {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: var(--Blanco);
  line-height: 1.8;
  padding: 0 10px;
  width: 100%;
  text-align: justify; 
 
}


/*--------------------*/


@media (max-width: 576px) { /* Ajuste para móviles */
  .carrito {
      width: 50%; /* 1 por fila */
      top: 520px;
  }
}


@media (max-width: 576px) {
  h1 {
    font-size: 2.4rem; /* Reducir el tamaño del título */
    margin-bottom: 10px; /* Espaciado más pequeño */
  }
  
  .navegacion {
    padding: 10px 0; /* Reducir el padding del menú */
  }

  .navegacion__enlace {
    font-size: 1.4rem; /* Tamaño más pequeño para los enlaces */
    margin: 5px 0; /* Espaciado vertical más pequeño */
  }
}
